
# .gitignore for DragonFiesta

Run/*exe
Run/*dll
Run/*
#ignore prev SVN stuff
*.svn
.svn/*
*.svn*

#ignore stuff created by VisualStudio
*.suo
*.pdb
*ReSharper*
*reSharper*
*bin/*
*obj/*
*/bin
*/obj
bin
obj

*Log.*
*log.*
*.log

#builds

*Run/*.pdb
*Run/*.dll
*Run/*.exe
*.vshost
*Run/*[lL]og*
*Logs/*
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.jtconfig
obj/
[Rr]elease*/-
_ReSharper*/
[Tt]est[Rr]esult*